$grid-columns: 12;
$gap: 2.1rem;

/// COLORS ///
:root {
  --color-primary: #291743;
  --rgba-primary: 41, 23, 67;
  --color-primary-light: #4b2f72;
  --color-primary-extra-light: #8567ac;
  --color-primary-dark: #1d1030;
  --color-text: #fff;
  --rgba-text: 255, 255, 255;
  --color-bkg: #0f0f0f;
  --color-contrast: yellow;
}
